@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wdth,wght@0,62.5..100,100..900;1,62.5..100,100..900&display=swap");

@media (prefers-color-scheme: light) {
  :root {
    --color-primary: rgb(0 104 119);
    --color-on-primary: rgb(255 255 255);

    --color-secondary: rgb(74 98 104);

    --color-surface: rgb(245 250 252);
    --color-surface-container: rgb(233 239 240);
    --color-on-surface: rgb(23 29 30);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: rgb(131 210 228);
    --color-on-primary: rgb(0 54 62);

    --color-secondary: rgb(178 203 209);

    --color-surface: rgb(14 20 22);
    --color-surface-container: rgb(27 33 34);
    --color-on-surface: rgb(222 227 229);
  }
}

* {
  transition-duration: 0.5s;
  transition-property: background, color;
  transition-timing-function: ease-in-out;
}

body {
  font-family: "Noto Sans", sans-serif;
  background-color: var(--color-surface);
  color: var(--color-on-surface);
  margin: 0 auto;
  padding: 0 0.5em;

  max-width: 50em;
}

nav {
  margin-top: 1em;

  display: flex;
}

nav > * {
  background-color: var(--color-surface-container);
  border-radius: 2em;

  margin: 0 0.5em;
  padding: 0.5em;

  flex: 1;

  text-decoration: none;
  text-align: center;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

nav > *:first-child {
  margin-left: 0;
}

nav > *:last-child {
  margin-right: 0;
}

nav > .current {
  background-color: var(--color-primary);
  color: var(--color-on-primary);
}

main {
  background-color: var(--color-surface-container);
  border-radius: 2em;

  margin: 1em 0 5em 0;
  padding: 1.5em;
}

main > *:first-child {
  margin-top: 0;
}

main > *:last-child {
  margin-bottom: 0;
}

a,
.copy {
  color: var(--color-primary);
}

.copy:hover {
  cursor: pointer;
  color: var(--color-secondary);
}

ul {
  padding-left: 1.5em;
}

input {
  background: none;
  color: var(--color-primary);
  border: none;

  width: 10rem;

  border-bottom: 0.01em solid var(--color-primary);
  font-size: 1em;
}
